# ============================================
# Unreal Content Folder (default: ignore all)
# ============================================
Content/**

# --------------------------------------------
# Allowed Shared Asset Packs (폴더 + 내부 전체)
# --------------------------------------------
!Content/Share/
!Content/Share/**

!Content/Cyberp_RPG_UI_5_2/
!Content/Cyberp_RPG_UI_5_2/**

!Content/SciFi_ToiletMech/
!Content/SciFi_ToiletMech/**

!Content/StylizedProjectileVFX_Pack/
!Content/StylizedProjectileVFX_Pack/**

!Content/Fab/
!Content/Fab/**

!Content/Fab/Cruise_Missile_New_FBX_Sample/
!Content/Fab/Cruise_Missile_New_FBX_Sample/**

!Content/Fab/Sci-Fi_Crate/
!Content/Fab/Sci-Fi_Crate/**

!Content/ParagonMuriel/
!Content/ParagonMuriel/**

!Content/SciFiturretasset/
!Content/SciFiturretasset/**

!Content/Free_Sounds_Pack/
!Content/Free_Sounds_Pack/**

!Content/Modular_Scifi_Mechanic_Base/
!Content/Modular_Scifi_Mechanic_Base/**

!Content/Megascans/
!Content/Megascans/**

# --------------------------------------------
# UE External Actors / External Objects
# (Level Instance, Foliage, Landscape Info 등)
# --------------------------------------------
!Content/__ExternalActors__/
!Content/__ExternalActors__/**

!Content/__ExternalObjects__/
!Content/__ExternalObjects__/**


# ============================================
# Unreal / IDE / Build / Derived folders
# ============================================

# Rider
.idea/

# Visual Studio
.vs/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled DLLs
*.so
*.dylib
*.dll

# Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipa

# Project files generated by the engine
*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Precompiled Assets
SourceArt/**/*.png
SourceArt/**/*.tga

# Binaries
Binaries/*
Plugins/**/Binaries/*

# Build
Build/*
!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt

# Icon files
!Build/**/*.ico

# Built data for maps
*_BuiltData.uasset

# Saved / Intermediate / Derived Data
Saved/*
Intermediate/*
Plugins/**/Intermediate/*
DerivedDataCache/*
